@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
/* =========================
   COMPONENTES
========================= */

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #0615ec;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    margin-bottom: 20px;
}

article {
    background-color: #28378f;
    border: 1px solid #e06d0f;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Cards */

.card {
    flex: 1 1 300px;
    background-color: #f5970b;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

/* Contenedor proyectos */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Portfolio */

.portfolio-grid {
    display: grid;
    gap: 1.5rem;

    grid-template-columns: 1fr;

    grid-template-areas:
        "header"
        "featured"
        "project1"
        "project2"
        "project3"
        "footer";
}

.portfolio-item {
    background-color: white;
    border-left: 5px solid #ff6b00;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
}

.portfolio-item.featured {
    grid-column: span 2;
}

.header-grid {
    grid-area: header;
}

.featured {
    grid-area: featured;
}

.project1 {
    grid-area: project1;
}

.project2 {
    grid-area: project2;
}

.project3 {
    grid-area: project3;
}

/* Navbar */

.navbar {

    padding: 1rem 0;

    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
    }

    .navbar-nav {

        .nav-link {

            color: white !important;
            font-weight: 600;
            transition: .3s;

            &:hover {
                color: #ffd700 !important;
            }
        }
    }
}

/* Botón */

.btn-save {

    @include button-variant($primary-color);

}