/* =========================
   VARIABLES
========================= */

$primary-color: hsl(25, 100%, 50%);
$secondary-color: hsl(220, 70%, 40%);
$bg-light: hsl(0, 0%, 95%);

$title-color: #a6ff00;
$link-color: #4b1ca3;
$hover-color: #ff0000;
$text-color: #00ff73;

$title-size: clamp(1.5rem, 4vw, 3rem);